body {
    font-family: Arial;
    padding: 40px 0
}

h2 {
    font-size: 28px;
    font-family: Arial;
}

h1 {
    font-size: 36px;
    font-family: Arial;
}

span {
    color: rgb(105, 0, 105);
    font-family: Arial;
    font-size: 20px;
}

#pawel {
    height: 180px;
    width: 180px;
    border-radius: 20%;
    box-shadow: 0 0 20px rgb(0, 204, 255);
    transition: 0.3s;
}

#pawel:hover {
    
    transition: 0.3s;
    background-image: url(zestawy/elementy/favicon.ico.png);
}

p {
    font-family: Arial;
}

li {
    font-family: Arial;
}


section,
header 
{
    padding: 10px 20px 60px 60px;
    background-color: whitesmoke;
    width: 960px;
    margin: 0 auto 0 auto;
   
    
    
}



#vvv {
    display: flex;
    align-items: center;
    height: 600px;
    width: 1x;
    padding: 0;
    border-bottom: 0;
    margin: auto 0 auto 0;
    
}

#FabrykaL {
    color: #FFCC00;
}

#Damek {
    color: #00CCFF;
    
}

#Zaxi {
    color: #66FF00;
}

#kesu {
    color: red
}

header ul {
    list-style: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    margin-bottom: 15px;
}


header address img {
    height: 16px;
    width: 16px;
    background-color: blueviolet;
    margin-right: 10px;
    padding: 8px;
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 0 0 20px black;
    
}

#Hotixon {
    color:rgb(159, 13, 249)
}

.button {
    background-color: #0091ff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.5s;
    height: 10px;
}

.button1 {
    transition: 0.5s;
    background-color:#0091ff; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    height: 10px;
}

.button2 {
    background-color: #0091ff; 
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px 32px;
    text-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.5s;
    height: 10px;
}




.klasatla {
    padding-bottom: 120px;
    padding-right: 20px;
    transition: 0.5s;
}

.button:hover {
    transition: 0.5s;
    background-color:#003156 ;
    height: 20px;
}

.button1:hover {
    transition: 0.5s;
    background-color: #003156;
    height: 20px;
}
.button2:hover {
    background-color: #003156;
    transition: 0.5s;
    height: 20px;
}


header {
    border-radius: 50px 50px  0 0 ;
    background-image: url("zestawy/elementy/glownezdjecie.png");
    box-shadow: 0 0 20px black;
    
    
}



footer  {
    display: flex;
    align-items: center;
    border-radius: 40px;
}

#przycisk1 {
    transition: 0.3s;
    display: inline-block;
    text-align: middle;
    background-color: rgb(183, 0, 255); 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 283px;
    margin-left: 8px;
    margin-right: -5px;
    box-shadow: 0 0 20px black;

}


#przycisk2 {
    transition: 0.3s;
    display: inline-block;
    text-align: center;
    background-color: rgb(183, 0, 255); 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 283px;
    margin-right: 0px;
    box-shadow: 0 0 20px black;
}

#przycisk3 {
    transition: 0.3s;
    display: inline-block;
    text-align: center;
    background-color: rgb(183, 0, 255); 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 283px;
    margin-right: 7px;
    margin-left: -5px;
    box-shadow: 0 0 20px black;
    
}




#przycisk3:hover {
    background-color: #480058; 
    color: rgb(0, 0, 0);
    transition: 0.3s;
    width: 300px;
}

    #przycisk2:hover {
        background-color: #480058; 
        color: rgb(0, 0, 0);
       transition: 0.3s;
       width: 300px;
    }
    #przycisk1:hover {
        background-color: #480058; 
        color: rgb(0, 0, 0);
        transition: 0.3s;
        width: 300px;
        
    }



.klasa {
    text-align: center;
    
}


.creeper {
    text-decoration: none;
    color: black;
}

.sekcja1 {
    border-radius: 0 0 50px 50px;
    text-align: center;
    align-items: center;
    font-family: Arial;
    height: 100px;
    background-color:#003156 ;

}

.text1 {
    text-align: left;
    text-align: top;
}

.usluga {
    list-style: none;
}

.trailer  {
    display: flex;
    
}


.trailer h2 {
    padding-left: 20px;
    font-family: Arial;
    
}

.trailer ul li {
    list-style: none;
    padding-right: 50px;
    padding-bottom: 100px;
}


.mrpos {
    display: flex;



}
.mrpos img {
    padding-top: 20px;
    height: 400px;
    width: 400px;
    border-radius: 20%;
    
}

.mrpos p {
    padding-top: 400px;
    padding-left: 20px;
}

.komendy ul  {
    padding-left: 450px;
    padding-top: 0px;
}

.portale img {
    height: 200px;
    width: 300px;
}

.struktury1 img {
    width: 200px;
    height: 100px;
}


.creeperhost img {
    border-radius: 20px;

}



.zdjecie123 img {
    display: flex;
    align-items: center;
    height: 512px;
    width: 1040px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 20px black;
    padding-bottom: 0px;

}

.przejscie {
    color: #003156;
    width: 155px;
    background-image: url(zestawy/pnckkkkk.png);
    border-radius: 5px;
    transition: 0.3s;

}

.przejscie:hover {
    width: 300px;
    transition: 0.3s;
}

.przejcie1 p {
    display: flex;
    display: inline-block;
    

}

.bialy {
    color: black;
    padding-right: -20px;
}

.tk {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.licznik {
    display: flex;
    transform: scale(2);
    padding-top: 20px;
}

.czas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.czas h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
}

.text23 {
    padding-top: 20px;
}

.koszyk {
    box-sizing: 20px;
    transition: 0.3s;
    
}

.koszyk:hover {
    transition: 0.3s;
    padding-bottom: 20px;
}


.sekcja10 {
    background-color:white;
}




/* Dla panów wielce znawców! ~ Nie ogarniam do końca cssa, niektóre style mogą się powtarzać!!! */
/* CSS w 100% robiony przez DAMEK  */
/* Finalna strona nie wygląda jakoś bardzo dobrze, ale myślę, że jest git :D  */
/* No copyright ACCGmv™ Prawa zastrzeżone  */

